<h1>Selected for lottery</h1>

<h3>Monday Winners</h3>

<div *ngFor="let winner of mondayWinners">
  <p>{{winner['firstName']}}</p>
</div>

<h3>Tuesday Winners</h3>

<div *ngFor="let winner of tuesdayWinners">
  <p>{{winner['firstName']}}</p>
</div>

<h3>Wednesday Winners</h3>

<div *ngFor="let winner of wednesdayWinners">
  <p>{{winner['firstName']}}</p>
</div>

<h3>Thursday Winners</h3>

<div *ngFor="let winner of thursdayWinners">
  <p>{{winner['firstName']}}</p>
</div>

<h3>Friday Winners</h3>

<div *ngFor="let winner of fridayWinners">
  <p>{{winner['firstName']}}</p>
</div>
